/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------------*/
body {
    color: white;
    font-family: 'Roboto', sans-serif;
}
/* -------------------------------*/
.common-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/* -------------------------------*/
header.background-img {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 680px;
}
/* -------------------------------*/
#no-wave-margin {
    background: url("../img/wave.png") no-repeat;
    background-size: cover;
    min-height: 100px;
}
/* -------------------------------*/
#no-wave-margin-capo {
    background: url("../img/wave-capo.png") no-repeat;
    background-size: cover;
    min-height: 100px;
}
/* /general settings */

/* nav */
#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}
/* -------------------------------*/
#logo {
    display: flex;
    align-items: center;
}

/* link list */
#links {
    display: flex;
    align-items: center;
}
/* -------------------------------*/
#links ul {
    display: flex;
    flex-flow: row wrap;
    gap: 35px;
    list-style-type: none;
}
/* -------------------------------*/
li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
/* -------------------------------*/
li a:hover {
    text-decoration: underline;
}
/* /link list */

#login {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------------------*/
a#login-border {
    background-color: white;
    border-radius: 40px;
    padding: 13px 16px;
    font-size: 14px;
    text-decoration: none;
    color: #23272a;
}
/* /nav */


/* header */
.main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    padding: 120px 0;
}
/* -------------------------------*/
.title {
    font-size: 32px;
}
/* -------------------------------*/
.paragraph-text {
    display: flex;
    align-items: center;
    width: 800px;
    height: 33%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
/* -------------------------------*/
.download-open {
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    gap: 20px;
    height: 33%;
}
/* -------------------------------*/
a.primary-button {
    border-radius: 40px;
    padding: 18px 36px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 20px;
}
/* -------------------------------*/
a.secondary-button {
    border-radius: 40px;
    padding: 18px 36px;
    text-decoration: none;
    background-color: #23272a;
    color: white;
    font-size: 20px;
}
/* /header */


/* main */
/* medium section */
.medium-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* -------------------------------*/
.middle-section {
    background-color: #f6f6f6;
}
/* -------------------------------*/
.medium-row {
    display: flex;
    padding: 120px 0;
}
/* -------------------------------*/
.medium-row-middle {
    display: flex;
    flex-direction: row-reverse;
    padding: 120px 0;
}
/* -------------------------------*/
.caption-ft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
}
/* -------------------------------*/
.caption-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

div.paragraph-title {
    padding-top: 30px;
    padding-bottom: 20px;
    color: black;
    font-size: 32px;
}
div.paragraph {
    font-size: 20px;
    color: black;
}
/* /medium section */


/* big section */
div.big-container {
    display: flex;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.big-row {
    display: flex;
    height: 1200px;
    padding-top: 120px;
    padding-bottom: 80px;
}
/* -------------------------------*/
.big-section-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
/* -------------------------------*/
.big-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;
    color: black;
}
/* -------------------------------*/
.big-section-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    text-align: center;
    font-size: 20px;
    color: black;
}
/* -------------------------------*/
.big-section-img {
    width: 1200px;
    height: 835px;
}
/* /big section */


/* small section */
div.small-container {
    display: flex;
    height: 280px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.small-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 120px;
}
/* -------------------------------*/
.pre-download {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 32px;
    width: 550px;
    height: 100px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
}
/* -------------------------------*/
a.small-button {
    border-radius: 40px;
    padding: 18px 36px;
    text-decoration: none;
    background-color: #5865f2;
    color: white;
    font-size: 20px;
}
/* /small section */

/* /main */


/* footer */
.support-info-container {
    display: flex;
    flex-direction: column;
    height: 575px;
    padding-top: 80px;
    padding-bottom: 65px;
    background-color: #23272a;
}
/* -------------------------------*/
.support-row {
    display: flex;
    gap: 10px;
    height: 360px;
}

/* language and social */
.lan-and-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    margin-bottom: 55px;
    color: #5865f2;
    font-size: 30px;
}
/* -------------------------------*/
.lan-container {
    display: flex;
    gap: 10px;
    align-items: center;
}
/* -------------------------------*/
img.languages-img {
    width: 25px;
    height: 18px;
}
/* -------------------------------*/
a.language {
    color: white;
    font-size: 14px;
    text-decoration: none;
}
/* -------------------------------*/
.no-decoration {
    text-decoration: none;
}
/* -------------------------------*/
div.social-img-gap {
    display: flex;
    gap: 15px;
}
/* -------------------------------*/
.social {
    width: 25px;
    height: 25px;
}
/* /language and social */

/* all-support */
.all-support {
    width: 180px;
    margin-bottom: 30px;
}
/* -------------------------------*/
.block {
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
/* -------------------------------*/
a.block:hover {
    text-decoration: underline;
}
/* -------------------------------*/
h5.different-color {
    color: #5865f2;
    font-weight: normal;
}
/* /all-support */

hr {
    height: 1px;
    background-color: #5865f2;
    border: none;
}

/* discord-logo and signup */
.logo-and-signup {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* -------------------------------*/
a.signup-button {
    border-radius: 40px;
    padding: 12px 18px;
    text-decoration: none;
    background-color: #5865f2;
    color: white;
    font-size: 14px;
}
a.discord-button {
    width: 150px;
    height: 40px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
}
/* /discord logo and signup */
/* /footer */