/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------------*/
body {
    color: white;
    font-family: 'Roboto', sans-serif;
}
/* -------------------------------*/
.common-container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}
/* -------------------------------*/
header.background-img {
    background-color: #23272a;
    height: 730px;

}
/* /general settings */

/* nav */
#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}
/* -------------------------------*/
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------------------*/
a.discord-button {
    width: 130px;
    height: 30px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
}

/* link list */
#links {
    display: flex;
    align-items: center;
}
/* -------------------------------*/
#links ul {
    display: flex;
    flex-flow: row wrap;
    gap: 35px;
    list-style-type: none;
}
/* -------------------------------*/
li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
/* -------------------------------*/
li a:hover {
    text-decoration: underline;
}
/* /link list */

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
}
/* -------------------------------*/
a#login-border {
    background-color: white;
    border-radius: 40px;
    padding: 13px 16px;
    font-size: 14px;
    text-decoration: none;
    color: #23272a;
}
/* /nav */

/* header */
.main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 650px;
    padding: 120px 40px;
}
/* -------------------------------*/
h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 56px;
    line-height: 60px;
}
/* -------------------------------*/
div.margin-top-bottom {
    margin: 40px 0 16px;
}
/* -------------------------------*/
.paragraph-text {
    font-size: 20px;
}
/* -------------------------------*/
.download {
    display: flex;
    align-items: center;
}
/* -------------------------------*/
a.primary-button {
    border-radius: 40px;
    padding: 18px 36px;
    margin-right: 20px;
    text-decoration: none;
    background-color: #5865f2;
    color: white;
    font-size: 20px;
}
/* -------------------------------*/
img.first-image {
    width: 580px;
}
/* /header */


/* main */
main {
    padding: 120px 0;
}
/* -------------------------------*/
div.big-container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.common-border {
    border-radius: 40px;
    padding: 16px 32px;
    text-decoration: none;
    background-color: #23272a;
    color: white;
    font-size: 24px;
}
/* -------------------------------*/
h2 {
    color: black;
    font-size: 28px;
}
/* -------------------------------*/
.ios-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 590px;
    height: 150px;
}
/* -------------------------------*/
.white-space {
    width: 590px;
    height: 150px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.ios-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 590px;
    height: 500px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.android-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 590px;
    height: 500px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.linux-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 590px;
    height: 150px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.android-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 590px;
    height: 150px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.linux-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 590px;
    height: 500px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.mac-button {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 10px;
    width: 590px;
    height: 500px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.paragraph-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 590px;
    height: 150px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.adv-paragraph {
    text-align: center;
    color: black;
    width: 450px;
}
/* -------------------------------*/
.mac-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 590px;
    height: 150px;
    background-color: #f6f6f6;
}
/* -------------------------------*/
.adv-button {
    display: flex;
    justify-content: center;
    width: 590px;
    height: 150px;
    background-color: #f6f6f6;
}
/* /main */


/* footer */
.support-info-container {
    display: flex;
    flex-direction: column;
    height: 575px;
    padding-top: 80px;
    padding-bottom: 65px;
    background-color: #23272a;
}
/* -------------------------------*/
.support-row {
    display: flex;
    gap: 10px;
    height: 360px;
}

/* language and social */
.lan-and-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 280px;
    margin-bottom: 55px;
    color: #385beb;
    font-size: 30px;
}
/* -------------------------------*/
img.languages {
    width: 25px;
    height: 18px;
}
/* -------------------------------*/
.no-decoration {
    text-decoration: none;
}
/* -------------------------------*/
div.social-img-gap {
    display: flex;
    gap: 15px;
}
/* -------------------------------*/
.social {
    width: 25px;
    height: 25px;
}
/* /language and social */

/* all-support */
.all-support {
    width: 180px;
    margin-bottom: 30px;
}
/* -------------------------------*/
.block {
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
/* -------------------------------*/
a.block:hover {
    text-decoration: underline;
}
/* -------------------------------*/
h5.different-color {
    color: #385beb;
}
/* /all-support */

hr {
    height: 1px;
    background-color: #5865f2;
    border: none;
}

/* discord-logo and signup */
.logo-and-signup {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* -------------------------------*/
a.signup-button {
    border-radius: 40px;
    padding: 12px 18px;
    text-decoration: none;
    background-color: #5865f2;
    color: white;
    font-size: 14px;
}
a.discord-button {
    width: 150px;
    height: 40px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
}
/* /discord logo and signup */
/* /footer */